body {
	background-color: white;
	font-size: 13px;
	font-family: sans-serif;
	margin: 0.3em;
}

a:link {
	color: blue;
	text-decoration: none;
}
a:hover {
	color: blue;
	text-decoration: underline;
}

a:visited {
	color: purple;
	text-decoration: none;
}

#intro {
	font: sans-serif;
	text-decoration: none;
	display: block;
	position: static;
	text-align: justify;
	font-size: 150%;
	vertical-align: top;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 50px;
	
}

p#welcome {
	font-weight: bold;
	text-align: right;
	font-size: 125%;
}

#center {
	width: auto;
	height: auto;
}




#footer {
	border-top: solid 1px;
	border-color: grey;
	display: block;
	font-size: 14px;
	font-family: sans-serif;
	margin: 10px auto;
	text-align: center;
	width: 70%;
}

#terms {
	display: inline;
	float: left;
	margin-left: 38%;
}

#privacy {
	display: inline;
	float: right;
	margin-right: 38%;
}





