#container {
	width: 80%;
	height: 
	margin: auto;
};

#intro {
	text-align: center;
};

#intro p {
	background-color: white;
	text-align: center;
	font-size: 13px;
	font-family: sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.5;
	margin: 0.3em 0;
};

#welcome p {

};