body {
	background-color: white;
	font-size: 13px;
	font-style: 1.5 sans-serif;
	margin: 0.3em;
}

div#intro {
	display: block;
	position: static;
	text-align: justify;
	font-size: 150%;
	vertical-align: top;
	margin-left: 47.250;
	margin-right: 47.250;
	
}

p#welcome {
	text-align: right;
	font-size: 150%;
}

#center {
	width: auto;
	height: auto;
}